// Main
// Color1
$Main: #294570;
$Button: #23a6a6;
$Text: #2a2a2a;
$Gray: #f4f4f4;
$Black: #000;
$White: #ffffff;
$Dots: #e5e5e5;
$Border: #d8d8d8;
$Plus: #a0a0a0;

// Input
// Primary
$Hover: #1daab3;
// Other

$padding-mobile: 17px;
$padding-tablet: 25px;
$padding-laptop: 30px;
$padding-desktop: 120px;
$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1920px;

$Inter: "Inter", sans-serif;
