<section class="advantages">

    <div class="advantages__container">
        <h2 class="advantages__title">Преимущества торговли с «United Brokers»</h2>
        <div class="advantages__slider">

            <div class="advantages__slide advantages__slide-1">
                <img src="app/images/src/advantages/advantages-1.svg" alt="иконка" class="advantages__icon">
                <h3 class="advantages__subtitle">Типы счетов</h3>
                <p class="advantages__text">Возможность торговать<br>
                    Mini, Standard, Classic и ProInvest счетами с одного устройства
                </p>
                <img src="app/images/src/advantages/advantages-1.svg" alt="иконка" class="advantages__icon-duble">
            </div>

            <div class="advantages__slide advantages__slide-2">
                <img src="app/images/src/advantages/advantages-2.svg" alt="иконка" class="advantages__icon">
                <h3 class="advantages__subtitle">Сверхбыстрое исполнение и высокая ликвидность</h3>
                <p class="advantages__text">99,9% ордеров исполняются менее чем за 11.06 мс
                </p>
                <img src="app/images/src/advantages/advantages-2.svg" alt="иконка" class="advantages__icon-duble">
            </div>

            <div class="advantages__slide advantages__slide-3">
                <img src="app/images/src/advantages/advantages-3.svg" alt="иконка" class="advantages__icon">
                <h3 class="advantages__subtitle">150+ инструментов</h3>
                <p class="advantages__text">Forex, акции, фьючерсы, индексы, металлы и энергоресурсы</p>
                <img src="app/images/src/advantages/advantages-3.svg" alt="иконка" class="advantages__icon-duble">
            </div>

            <div class="advantages__slide advantages__slide-4">
                <img src="app/images/src/advantages/advantages-4.svg" alt="иконка" class="advantages__icon">
                <h3 class="advantages__subtitle">Мировые стандарты
                    безопасности</h3>
                <p class="advantages__text">Выбирайте надежного брокера, который
                    работает с клиентами более чем в 83 странах мира
                </p>
                <img src="app/images/src/advantages/advantages-4.svg" alt="иконка" class="advantages__icon-duble">
            </div>

            <div class="advantages__slide advantages__slide-5">
                <img src="app/images/src/advantages/advantages-5.svg" alt="иконка" class="advantages__icon">
                <h3 class="advantages__subtitle">Мультиязычная
                    поддержка 24/5</h3>
                <p class="advantages__text">Почувствуйте себя уверенно, зная,
                    что наша служба поддержки доступна для вас в любое время дня
                    и ночи, с понедельника по пятницу
                </p>
                <img src="app/images/src/advantages/advantages-5.svg" alt="иконка" class="advantages__icon-duble">
            </div>

        </div>
    </div>

    <div class="advantages__dots">
        <div class="advantages__dot active"></div>
        <div class="advantages__dot"></div>
        <div class="advantages__dot"></div>
        <div class="advantages__dot"></div>
        <div class="advantages__dot"></div>
    </div>
</section>