<section class="choose">
  <div class="choose__container">
    <div class="choose__head">
      <h2 class="choose__title">Выберите свою платформу</h2>
      <p class="choose__subtitle">
        Переходите на новый уровень трейдинга с профессионально оснащенной
        платформой «United Brokers». Доступны версии для ПК, веб и смартфонов.
      </p>
      <a href="#" class="choose__block-button button" id="choose__block-button"
        >Подробнее</a
      >
    </div>
    <div class="choose__wrapper">
      <img
        src="app/images/src/choose/picture-1.png"
        alt="картинка 1"
        class="choose__picture"
      />
    </div>
  </div>
</section>
