<section class="faq" id="faq">
    <div class="faq_container">
        <h2 class="faq__title">
            Вопросы и ответы
        </h2>
        <div class="faq__wrapper">
            <ul class="faq__list">
                <li class="faq__item">
                    <p class="faq__item-question">Что такое криптовалюты?<span class="faq__item-link"></span></p>
                    <p class="faq__item-answer"><b>Криптовалюты</b> – относительно
                        недавно возникшее явление в финансовом мире, стремительно
                        набирающее популярность. Это цифровые деньги, в основе которых
                        лежит децентрализованная открытая база – блокчейн, функционирующая
                        на основе криптографических методов. Криптовалюты не имеют физического
                        облика, они существуют лишь в электронном виде.
                    
                    </p>
                </li>
                <li class="faq__item">
                    <p class="faq__item-question">Основные преимущества криптовалют <span class="faq__item-link"></span></p>
                    <p class="faq__item-answer">
                        <b>Криптовалюты</b> – относительно
                        недавно возникшее явление в финансовом мире, стремительно
                        набирающее популярность. Это цифровые деньги, в основе которых
                        лежит децентрализованная открытая база – блокчейн, функционирующая
                        на основе криптографических методов. Криптовалюты не имеют физического
                        облика, они существуют лишь в электронном виде.
                        
                    </p>
                </li>
            </ul>
            <a href="#" class="button">Начать торговать</a>
        </div>
    </div>
</section>