<section class="footer">
    <footer class="footer__wrapper">
      <div class="footer__logo">
        <img src="app/images/src/footer/logo.svg" alt="логотип" class="footer__logo-image" />
        <div class="footer__social">
            <div class="footer__social-container">
                <p class="footer__social-text">Скачать приложение 
                    United Brokers:
                </p>
                <div class="footer__social-block">
                    <a href="#" class="footer__social-icon"><span class="visually-hidden">windows</span>
                    <img src="app/images/src/footer/icon-1.svg" alt="иконка">
                </a>
                    <a href="#" class="footer__social-icon"><span class="visually-hidden">cloud</span>
                        <img src="app/images/src/footer/icon-2.svg" alt="иконка">
                    </a>
                    <a href="#" class="footer__social-icon"><span class="visually-hidden">appstore</span>
                        <img src="app/images/src/footer/icon-3.svg" alt="иконка">
                    </a>
                    <a href="#" class="footer__social-icon"><span class="visually-hidden">google</span>
                        <img src="app/images/src/footer/icon-4.svg" alt="иконка">
                    </a>
                </div>
            </div>
            <div class="footer__social-contacts">
                <a href="/promotion" class="footer__link">+7 (900) 222-99-99
                </a>
                <a href="/contacts" class="footer__link">info@unitedbrokers.io
                </a>
            </div>
        <a href="" class="button footer__button">Личный кабинет</a>
        </div>
      </div>
      <div class="footer__container">
        <ul class="footer__list footer__list-one">
            <p class="footer__list-title">Торговля</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/catalog" class="footer__link">Платформы
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/salons" class="footer__link">Типы счетов
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/cabinet" class="footer__link">Условия торговли</a>
                </li>
            </div>
        </ul>

        <ul class="footer__list footer__list-two">
            <p class="footer__list-title">Рынки</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/promotion" class="footer__link">Валютный рынок
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link">Фондовый рынок
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/certificates" class="footer__link">Товарный рынок
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Индексы
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Криптовалюты
                  </a>
                </li>
            </div>
        </ul>
        
        <ul class="footer__list footer__list-three">
            <p class="footer__list-title">Клиентам</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/promotion" class="footer__link">Аналитика
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link">Новости
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/certificates" class="footer__link">Обучение
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Советы трейдерам
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Программа лояльности
                  </a>
                </li>
            </div>
        </ul>

        <ul class="footer__list footer__list-four">
            <p class="footer__list-title">О нас</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/promotion" class="footer__link">О компании
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link">Контакты
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/certificates" class="footer__link">Документы
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Сохранность средств
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link">Вакансии
                  </a>
                </li>
            </div>
        </ul>

        <ul class="footer__list footer__list-contacts footer__list-five">
            <p class="footer__list-title">Контакты</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/promotion" class="footer__link">+7 (900) 222-99-99
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link">info@unitedbrokers.io
                  </a>
                </li>
            </div>
        </ul>

        <ul class="footer__list footer__list-six">
            <p class="footer__list-title">Документы</p>
            <div class="footer__list-block">
                <li class="footer__item">
                  <a href="/promotion" class="footer__link" style="text-decoration: underline;">Клиентское соглашение
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/contacts" class="footer__link" style="text-decoration: underline;">Политика конфиденциальности
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/certificates" class="footer__link" style="text-decoration: underline;">Политика возврата платежей
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link" style="text-decoration: underline;">Свидетельство о регистрации
                  </a>
                </li>
                <li class="footer__item">
                  <a href="/comments" class="footer__link" style="text-decoration: underline;">Политика AML
                  </a>
                </li>
            </div>
        </ul>
        <div class="footer__notification">
          <p class="footer__notification-paragraph">
            © United Brokers 2021. Все права защищены. 
            Любое использование материалов сайта без разрешения запрещено.
            <br><br>
            Уведомление о рисках:
    Инвестирование в группы высокого риска: (Forex) и контрактами на 
    разницу (CFD) является спекулятивной операцией, включая высокий риск, 
    и не подходит для каждого инвестора. Вы можете понести как частичные, 
    так и полные потери вложенных средств, поэтому мы не советуем инвестировать 
    капитал, которым вы не можете рисковать. Вы должны знать о повышенном риске, 
    связанном с использованием кредитного плеча. Мы настоятельно рекомендуем вам 
    ознакомиться с условиями и услугами нашего веб-сайта, прежде чем начать 
    пользоваться нашим сервисом.
          </p>
        </div>
      </div>
    </footer>
  </section>