<header class="header">
  <div class="header__container">
    <a href="#" class="header__logo header__logo--closed" id="logo">
      <div class="logo-container">
        <img
          class="header__logo-image"
          src="app/images/src/header/logo.svg"
          alt="Логотип компании"
        />
      </div>
    </a>
    <button class="header__toggle header__toggle--closed" type="button">
      <span class="visually-hidden">Открыть меню</span>
      <span class="header__toggle-burger"></span>
    </button>
  </div>
  <nav class="header__navigation header__navigation--closed">
    <ul class="header__navigation-list">
      <li class="header__navigation-item">
        <a href="#" class="header__navigation-link">Торговля</a>
      </li>
      <li class="header__navigation-item">
        <a href="#" class="header__navigation-link">Рынки</a>
      </li>
      <li class="header__navigation-item">
        <a href="#" class="header__navigation-link">Клиентам</a>
      </li>
      <li class="header__navigation-item">
        <a href="#" class="header__navigation-link">О нас</a>
      </li>
    </ul>
  </nav>
  <div class="header__navigation-enter">
    <li class="header__navigation-item-lang">
      <button
        href="#"
        class="header__navigation-link header__navigation-link-ru"
      >
        RU
        <svg
          width="16"
          height="11"
          viewBox="0 0 16 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.29756 1.14063L8 7.21094L13.7024 1.14063L15 2.52605L8 10L1 2.52605L2.29756 1.14063Z"
            fill="white"
            stroke="white"
            stroke-width="0.5"
          ></path>
        </svg>
      </button>
      <button
        href="#"
        class="header__navigation-link header__navigation-link-en"
      >
        EN
      </button>
    </li>
    <li class="header__navigation-item-enter">
      <a href="#" class="header__navigation-link header__navigation-link-enter"
        >Войти</a
      >
    </li>
  </div>
</header>
