<section class="homepage">
    <div class="homepage__container">
        <div class="homepage__head">
            <h1 class="homepage__title">Криптовалютный рынок</h1>
            <p class="homepage__subtitle">Торгуйте криптовалютами на
                мировом финансовом рынке на конкурентоспособных условиях.
            </p>
            <a href="#" class="homepage__block-button" id="homepage__block-button">Открыть счет</a>
        </div>
        <div class="homepage__wrapper">
            <img src="app/images/src/homepage/picture-1.png" alt="картинка 1" class="homepage__picture">
        </div>
    </div>
</section>