.faq {
    background-color: $Gray;
    padding: 56px $padding-mobile 30px $padding-mobile;
  @media (min-width: $tablet-width) {
    padding: 56px $padding-tablet;
  }
  @media (min-width: $laptop-width) {
    padding: 150px $padding-laptop;
  }
  @media (min-width: $desktop-width) {
    padding: 150px $padding-laptop;
  }
}

.faq_container {
    @media (min-width: $tablet-width) {
        max-width: 522px;
        margin: 0 auto;
    }
    @media (min-width: $laptop-width) {
        max-width: 1395px;
    }
}

.faq__title {
    font-family: $Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $Text;
  margin-bottom: 8px;
  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 5px;
  }
  @media (min-width: $laptop-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

.faq__item {
    background-color: $White;
    padding: 20px 10px;
    cursor: pointer;
    position: relative;
    @media (min-width: $tablet-width) {
        padding: 30px;
      }
}

.faq__item-link {
    width: 20px;
    height: 20px;
    background-color: $Gray;
    display: block;
    position: relative;
    flex-shrink: 0;
    @media (min-width: $tablet-width) {
        width: 30px;
    height: 30px;
    }
}
.faq__item-link::after {
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: $Plus;
    top: 50%;
    left: 4px;
    content: '';
    @media (min-width: $tablet-width) {
        width: 18px;
        left: 6px;
    }
}
.faq__item-link::before {
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: $Plus;
    top: 50%;
    left: 13px;
    content: '';
    transform: rotate(90deg) translateY(9px);
    opacity: 0;
    transition: opacity 0.3s ease;
    @media (min-width: $tablet-width) {
        width: 18px;
        left: 15px;
    }
}
.faq__item-link.rotate::before {
    opacity: 1;
  }

.faq__item:not(:last-child) {
    border-bottom: 1px solid $Border;
}

.faq__item-question {
    font-family: $Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $Text;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 32px;
    }
    @media (min-width: $laptop-width) {
      font-size: 20px;
      line-height: 52px;
    }
}

.faq__item-answer {
    font-family: $Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: $Text;
    margin-top: 10px;
    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 28px;
      margin-top: 40px;
    }
    @media (min-width: $laptop-width) {
      font-size: 16px;
      line-height: 16px;
    }
}