.button {
  font-family: $Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: $White;
  background-color: $Button;
  padding: 10px 0;
  border-radius: 3px;
  width: 100%;
  display: block;
  @media (min-width: $tablet-width) {
    width: 158px;
  }
  @media (min-width: $laptop-width) {
    font-size: 16px;
    line-height: 24px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.homepage {
  padding: 70px $padding-mobile 20px $padding-mobile;
  @media (min-width: $tablet-width) {
    padding: 92px $padding-tablet 56px $padding-tablet;
  }
  @media (min-width: $laptop-width) {
  }
  @media (min-width: $desktop-width) {
  }
}

.homepage__head {
  @media (min-width: $laptop-width) {
    width: 500px;
  }
}

.homepage__container {
  width: 100%;
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 522px;
    margin: 0 auto;
  }
  @media (min-width: $laptop-width) {
    max-width: 100%;
    justify-content: space-between;
    max-width: 1395px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.homepage__title {
  font-family: $Inter;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: $Text;
  margin-bottom: 8px;
  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  @media (min-width: $laptop-width) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 24px;
  }
  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 24px;
  }
}

.homepage__subtitle {
  font-family: $Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: $Text;
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;
  }
  @media (min-width: $laptop-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
  }
}

.homepage__wrapper {
  width: 250px;
  height: 252px;
  margin: 33px auto 0 auto;
  @media (min-width: $tablet-width) {
    width: 250px;
    height: 252px;
    margin-right: -60px;
    margin-top: 0;
  }
  @media (min-width: $laptop-width) {
    width: 500px;
    height: 504px;
    margin: 0;
  }
  @media (min-width: $desktop-width) {
    width: 546px;
    height: 549px;
  }
}

.homepage__picture {
  width: 250px;
  height: 252px;
  @media (min-width: $tablet-width) {
    width: 250px;
    height: 252px;
  }
  @media (min-width: $laptop-width) {
    width: 500px;
    height: 504px;
  }
  @media (min-width: $desktop-width) {
    width: 546px;
    height: 549px;
  }
}
